In [36]:
import pandas as pd
data={'Apples': [35, 41], 'Bananas': [21, 34]}
my_data_frame=pd.DataFrame(data=data, index=['2017 sales','2018 sales'])
my_data_frame

            Apples  Bananas
2017 sales      35       21
2018 sales      41       34

In [41]:
S1=pd.Series([1,2,3,4,5,6])
S2=pd.Series([7,8,9,10,11,12])
#addition
print('S1 + S2')
print(pd.Series.add(S1, S2))
#Substraction
print('S1 - S2')
print(pd.Series.sub(S1, S2))
#multiplication
print('S1 * S2')
print(pd.Series.mul(S1, S2))
#division
print('S1 / S2')
print(pd.Series.div(S1, S2))

S1 + S2
0     8
1    10
2    12
3    14
4    16
5    18
dtype: int64
S1 - S2
0   -6
1   -6
2   -6
3   -6
4   -6
5   -6
dtype: int64
S1 * S2
0     7
1    16
2    27
3    40
4    55
5    72
dtype: int64
S1 / S2
0    0.142857
1    0.250000
2    0.333333
3    0.400000
4    0.454545
5    0.500000
dtype: float64